@import url("reset.css");
@import url(https://fonts.googleapis.com/css?family=Roboto:400);

body {
  background-color: #333;
  color: #ccc;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

h1 {
  padding: 2em 0;
  line-height: normal;
  text-align: center;
  text-shadow: 5px 5px 5px #000;
  font-size: 5em;
}

a {
  color: inherit;
  text-decoration: none;
}

a.underline {
  text-decoration: underline;
}

/* Info (#info) */
#info {
  text-shadow: 2px 2px 2px #000;
}

/* About (#about) */
.toggleAbout {
  cursor: pointer;
}

#about {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 600px;
  height: 200px;
  margin: auto;
  padding: 1em;
  color: #333;
  background-color: #eee;
  border-radius: 4px;
}

#about #close {
  position: absolute;
  top: 4px;
  right: 14px;
  text-shadow: none;
  font-size: 2em;
}

#about #text {
  text-align: center;
  text-shadow: none;
}

#about #text h1 {
  padding: 1em 0;
  font-size: 2em;
  text-shadow: none;
}

/* Footer (footer) */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  font-size: 0.8em;
}